<ion-view view-title="pass指派单" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content>
        <div class="list list-inset">
            <div class="item">
                行业别：的房间看电视
            </div>
            <div class="item">
                资本额：100（百万）
            </div>
            <!--<div class="item">
                负责人：张经理
            </div>-->
            <div class="item">
                主要产品：烘焙基督教覅
            </div>
            <div class="item">
                联络人：张经理
            </div>
            <div class="item">
                电话：15824848854 &nbsp;&nbsp;分机：0732
            </div>
            <div class="item">
                邮箱：952804855@qq.com
            </div>
            <div class="item">
                地址：上海市静安区江北养录12432弄
            </div>
        </div>
    </ion-content>
</ion-view>