<ion-view view-title="pass单指派" on-swipe-left="onSwipeLeft()">
    <ion-content>
        <div class="list list-inset">
            <div class="item item-text-wrap">
                <p>工作内容：积分大口径覅偶肯定会覅你赶快来减肥了老来得及够ID了解到浮雕手工空间来得及好滴肥了老来得及够ID了解到浮雕手工空间来得及好滴肥了老来得及够ID了解到浮雕手工空间来得及好滴肥了老来得及够ID了解到浮雕手工空间来得及好滴</p>
            </div>
            <div class="item item-text-wrap">
                <p>主要产品：放得开房间肯德基</p>
            </div>
            <div class="item item-text-wrap">
                <p>据点：放得开就</p>
            </div>
            <div class="item item-text-wrap">
                <p>需求：对方的开始就看电视看积分高考临渴掘井裸考军队福克斯看看哪看女的看</p>
            </div>
            <div class="item item-text-wrap">
                <p>使用人数：未定（员工人数200位）</p>
            </div>
            <div class="item item-text-wrap">
                <p>现况：专案开发系统，已使用十多年</p>
            </div>
            <div class="item item-text-wrap">
                <p>困扰：的九分裤的艰苦奋斗看上哪个</p>
            </div>
            <div class="item item-text-wrap">
                <p>时程：的减肥的看看放声大哭</p>
            </div>
            <div class="item item-text-wrap">
                <p>竞争：的减肥给你看的境况</p>
            </div>
            <div class="item item-text-wrap">
                <p>系统发起者：放大镜看三副科级</p>
            </div>
            <div class="item item-text-wrap">
                <p>备注栏：付款单发货进口坚果</p>
            </div>
        </div>
    </ion-content>
</ion-view>