<ion-view view-title="pass指派单" on-swipe-right="onSwipeRight()">
    <ion-content>
        <div class="list list-inset">
            <select style="width:100%;height:50px;">
                <option>Blue</option>
                <option selected>Green</option>
                <option>Red</option>
            </select>
            <div class="list" style="text-align:center;margin-top:10px;">
                <button class="button button-positive" style="width:50%">
                    指派
                </button>

            </div>
        </div>


    </ion-content>
</ion-view>